@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
header {
  margin-top: 50px;
  margin-bottom: 40px;
}
header img {
  width: 148px;
  height: 36px;
}
header .btn {
  gap: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 300px;
}
header .btn p {
  font-family: "Rubik", sans-serif;
}
header .btn p a {
  list-style: none;
  text-decoration: none;
  margin-left: 0px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
}
header .btn button {
  width: 150px;
  height: 45px;
  border-radius: 30px;
  border: #f53855 solid 1px;
  color: #f53855;
  font-size: 16px;
  font-weight: 600;
  background-color: #fff;
  margin-left: 20px;
  margin-top: -10px;
}
header nav {
  margin-left: 150px;
}
header nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li {
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
  margin-left: 40px;
  font-size: 16px;
}
header nav ul li a {
  text-decoration: none;
  color: #4f5665;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding: 0 20px;
  display: flex;
  margin: 0 auto;
}

.section1 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.section1 .text h2 {
  font-size: 50px;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}
.section1 .text p {
  font-size: 16px;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  line-height: 30px;
  margin-top: 20px;
}
.section1 .text button {
  background: #f53838;
  width: 250px;
  height: 60px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #fff;
  border-radius: 15px;
  margin-top: 50px;
  border-color: #f53838;
}
.section1 .fhoto {
  margin-left: 200px;
}

.section2 {
  margin-top: 200px;
  margin-bottom: 150px;
}
.section2 .container {
  display: flex;
  gap: 300px;
  padding-left: 150px;
}
.section2 .container .block {
  font-family: "Rubik", sans-serif;
  display: flex;
  gap: 30px;
}

.section3 {
  margin-top: 100px;
  margin-bottom: 150px;
}
.section3 .container .blockm {
  display: flex;
  justify-content: space-between;
  gap: 400px;
}
.section3 .container .blockm .fff .text h2 {
  font-size: 35px;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.section3 .container .blockm .fff .text p {
  font-size: 16px;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  line-height: 30px;
  margin-top: 20px;
}
.section3 .container .blockm .fff .spisok ul {
  margin-top: 30px;
}
.section3 .container .blockm .fff .spisok ul li {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  text-decoration: none;
  list-style: none;
}
.section3 .container .blockm .fff .spisok ul li img {
  margin-right: 20px;
}

.section4 .container .block .text {
  margin-left: 300px;
  text-align: center;
}
.section4 .container .block .text h2 {
  font-size: 35px;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .container .block .text p {
  font-size: 16px;
  color: #4f5665;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  line-height: 30px;
  margin-top: 10px;
}
.section4 .container .block .cards {
  display: flex;
  justify-content: space-between;
  gap: 100px;
}
.section4 .container .block .cards .card {
  margin-top: 100px;
  margin-bottom: 50px;
  padding-bottom: 50px;
  border: #dddddd solid 2px;
  border-radius: 10px;
  padding-top: 80px;
  padding-left: 92px;
  padding-right: 92px;
}
.section4 .container .block .cards .card img {
  text-align: center;
}
.section4 .container .block .cards .card h3 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .container .block .cards .card ul {
  margin-top: 30px;
}
.section4 .container .block .cards .card ul li {
  list-style: none;
  margin-top: 10px;
}
.section4 .container .block .cards .card ul li img {
  margin-right: 5px;
}
.section4 .container .block .cards .card h2 {
  font-size: 25px;
  text-align: center;
  margin-top: 90px;
  color: #0b132a;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.section4 .container .block .cards .card button {
  background: #ffffff;
  width: 177px;
  height: 45px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  color: #f53838;
  border-radius: 55px;
  margin-top: 20px;
  border-color: #f53838;
}/*# sourceMappingURL=main.css.map */